<!-- Trigger the modal with a button -->


<!-- Modal -->
<div class = "col-md-2 col-xs-1"></div>
<div class = "row container-fluid col-md-8 col-xs-10">

    <div class="row">
        
        <div class=" col-xs-12" >
          
            
  <a href="" data-toggle="collapse" data-target="#newcustomer" class"text-center"><div class = "jumbotron text-center" style="border: 2px solid black"><h1>New Customer</h1></div></a>
  <div id="newcustomer" class="collapse">
    <form role="form" ng-submit="create()">
            
                <div class="well well-sm"></div>
                <div class="form-group">
                    <label for="InputfName">First Name</label>
                    <div class="input-group">
                        <input ng-model="user.firstName"class="form-control" name="InputfName" id="InputfName" placeholder="First Name" required="" type="text">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputlName">Last Name</label>
                    <div class="input-group">
                        <input ng-model="user.lastName" class="form-control" name="InputlName" id="InputlName" placeholder="Last Name" required="" type="text">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Enter Email</label>
                    <div class="input-group">
                        <input ng-model="user.emailAddress"class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Enter Email" required="" type="email">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Select Home</label>
                    <select ng-model="user.homeId"name="dropdown">
                        <option value = "new" selected>New Home</option>
                        <option value = "{{home.id}}"ng-repeat = "home in homes">{{home.address.streetAddress}}</option>
                        
                    </select>
                </div>
                <input name="submit" id="submit" value="Submit" class="btn btn-info pull-right" type="submit">
            
        </form>
  </div>
</div>
        
        </div>
<div class = "row">     
<div class=" col-xs-12">
<a href="" data-toggle="collapse" data-target="#homesList" class"text-center"><div class = "jumbotron text-center" style="border: 2px solid black"><h1>Current Homes</h1></div></a>
  <div id="homesList" class="collapse">
            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Address</th>
        <th>Price</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "home in homes">
        <td>{{home.address.streetAddress}}</td>
        <td>{{home.price}}</td>
        <td><a ng-href = "#/homes/edit/{{home.id}}"><button type="button" class="btn btn-primary">EDIT</button></a> / 
        <a ng-href = ""><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{home.id}}">DELETE</button></a>
        <div id="{{home.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">

          <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">{{home.address.streetAddress}}</h4>
              </div>
            <div class="modal-body">
            <p>Are you sure you want to delete {{home.address.streetAddress}}</p>
            </div>
            <div class="modal-footer">
            <a ng-href = "" ng-click = deleteHome(home.id)><button type="button" class="btn btn-danger" data-dismiss="modal" >DELETE</button></a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
            </div>
            </div>
           </div>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div> 
<div class = "row">
     <div class="col-xs-12">
        <a href="" data-toggle="collapse" data-target="#usersList" class"text-center"><div class = "jumbotron text-center" style="border: 2px solid black"><h1>Customers</h1></div></a>
  <div id="usersList" class="collapse">

            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email Address</th>
        <th>Home</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "user in users">
        <td>{{user.emailAddress}}</td>
        <td>{{user.home.address.streetAddress}}</td>
        <td><a ng-href = "#/users/edit/{{user.id}}"<button type="button" class="btn btn-primary">EDIT</button></a> / 
        <a ng-href = ""><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{user.id}}">DELETE</button></a>
        <div id="{{user.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">

          <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">{{user.firstName}} {{user.lastName}}</h4>
              </div>
            <div class="modal-body">
            <p>Are you sure you want to delete {{user.emailAddress}}</p>
            </div>
            <div class="modal-footer">
            <a ng-href = "" ng-click = deleteUser(user.id)><button type="button" class="btn btn-danger" data-dismiss="modal" >DELETE</button></a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
            </div>

            </div>
           </div>
      </tr>
     
    </tbody>
  </table>
</div>
</div>
    </div>
    
    <div class = "row">
        <div class = "container-fluid">
            <div class = "col-xs-12" style="border: 2px solid black">
                <div><h1>Floor Plans</h1><a ng-href = "#/floorplans/new">New Floor Plan</a></div>
                <div ng-repeat = "floorplan in floorplans" class="col-md-2 col-xs-6">
                  <div class="container-fluid">
                   <div class="text-vertical-center">
                    <h3>{{floorplan.name}}</h3>
                    <img height = "100" width = "100" class="img-responsive" src= {{floorplan.img}} alt="">
                    <p>Starts at: {{floorplan.basePrice}}</p>
                    <p>Square Feet: {{floorplan.sqft}}</p>
                    <p>Bedrooms: {{floorplan.bedAmt}}</p>
                    <p>Bathrooms: {{floorplan.bathAmt}}</p>
                    <a ng-href = "#/floorplans/edit/{{floorplan.id}}">Edit Floorplan</a>
                    <a ng-href = ""><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{floorplan.id}}">Delete</button></a>
                    <div id="{{floorplan.id}}" class="modal fade" role="dialog">
                   <div class="modal-dialog">

          <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">{{floorplan.name}}</h4>
              </div>
            <div class="modal-body">
            <p>Are you sure you want to delete {{floorplan.name}} floor plan?</p>
            </div>
            <div class="modal-footer">
            <a ng-href = "" ng-click = deleteFloorplan(floorplan.id)><button type="button" class="btn btn-danger" data-dismiss="modal" >DELETE</button></a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
            </div>

            </div>
           </div>
                   </div>
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "col-md-2 col-xs-1"></div>


